<div *ngIf="loadedComponents >= 2;else spinner;">
    <h1>{{vehicle.name}}</h1>
    <mat-list>
        <mat-list-item><span><b>Name: </b>{{vehicle.name}}</span></mat-list-item>
        <mat-list-item><span><b>Model: </b>{{vehicle.model}}</span></mat-list-item>
        <mat-list-item><span><b>Vehicle Class: </b>{{vehicle.vehicle_class}}</span></mat-list-item>
        <mat-list-item><span><b>Manufacturer: </b>{{vehicle.manufacturer}}</span></mat-list-item>
        <mat-list-item><span><b>Length: </b>{{vehicle.length}}</span></mat-list-item>
        <mat-list-item><span><b>Cost in Credits: </b>{{vehicle.cost_in_credits}}</span></mat-list-item>
        <mat-list-item><span><b>Crew: </b>{{vehicle.crew}}</span></mat-list-item>
        <mat-list-item><span><b>Passengers: </b>{{vehicle.passengers}}</span></mat-list-item>
        <mat-list-item><span><b>Max. Atmosphering Speed: </b>{{vehicle.max_atmosphering_speed}}</span></mat-list-item>
        <mat-list-item><span><b>Cargo Capacity: </b>{{vehicle.cargo_capacity}}</span></mat-list-item>
        <mat-list-item><span><b>Consumbales: </b>{{vehicle.consumables}}</span></mat-list-item>
    </mat-list>
    <mat-tab-group>
        <ng-container *ngFor="let table of tables">
            <mat-tab *ngIf="table.data.length" [label]="table['name']">
                <h3>{{table['name']}}</h3>
                <app-data-table [tableData]="table.data" [columns]="table['columns']" [pagination]="table['pagination']" [isStatic]="true" [addEmptyRows]="true"></app-data-table>
            </mat-tab>
        </ng-container>
    </mat-tab-group>
</div>
<ng-template #spinner><mat-spinner class="spinner"></mat-spinner></ng-template>