<div *ngIf="loadedComponents >= tables.length;else spinner;">
    <h1>{{film.title}}</h1>
    <mat-list>
        <mat-list-item><b>Title: </b> {{film.title}}</mat-list-item>
        <mat-list-item><b>Episode ID: </b>{{film.episode_id}}</mat-list-item>
        <mat-list-item><b>Director: </b>{{film.director}}</mat-list-item>
        <mat-list-item><b>Producer: </b>{{film.producer}}</mat-list-item>
        <mat-list-item><b>Release Date: </b>{{film.release_date}}</mat-list-item>
        <mat-list-item lines="3">
            <span matListItemTitle><b>Opening Crawl</b></span>
            <span>
                {{film.opening_crawl}}
            </span>
        </mat-list-item>
    </mat-list>

    <mat-tab-group>
        <ng-container *ngFor="let table of tables">
            <mat-tab *ngIf="table.data.length" [label]="table['name']">
                <h3>{{table['name']}}</h3>
                <app-data-table [tableData]="table.data" [columns]="table['columns']" [pagination]="table['pagination']" [isStatic]="true" [addEmptyRows]="true"></app-data-table>
            </mat-tab>
        </ng-container>
    </mat-tab-group>
</div>
<ng-template #spinner><mat-spinner class="spinner"></mat-spinner></ng-template>