<div *ngIf="loaded;else spinner;">
    <h1>{{film.title}}</h1>
    <mat-list>
        <mat-list-item><b>Title: </b> {{film.title}}</mat-list-item>
        <mat-list-item><b>Episode ID: </b>{{film.episode_id}}</mat-list-item>
        <mat-list-item><b>Director: </b>{{film.director}}</mat-list-item>
        <mat-list-item><b>Producer: </b>{{film.producer}}</mat-list-item>
        <mat-list-item><b>Release Date: </b>{{film.release_date}}</mat-list-item>
        <mat-list-item lines="3">
            <span matListItemTitle><b>Opening Crawl</b></span>
            <span>
                {{film.opening_crawl}}
            </span>
        </mat-list-item>
    </mat-list>
    
    <div *ngIf="planets.length">
        <h3>Planets</h3>
        <app-data-table [tableData]="planets" [columns]="planetTableColumns" [pagination]="planetPagination" [isStatic]="true"></app-data-table>
    </div>

    <div *ngIf="characters.length">
        <h3>Characters</h3>
        <app-data-table [tableData]="characters" [columns]="charactersTableColumns" [pagination]="characterPagination" [isStatic]="true"></app-data-table>
    </div>

    <div *ngIf="species.length">
        <h3>Species</h3>
        <app-data-table [tableData]="species" [columns]="speciesTableColumns" [pagination]="speciesPagination" [isStatic]="true"></app-data-table>
    </div>
    
</div>
<ng-template #spinner><mat-spinner class="spinner"></mat-spinner></ng-template>