<div *ngIf="planet">
    <h1>{{planet.name}}</h1>
    <mat-list>
        <mat-list-item><span><b>Name: </b>{{planet.name}}</span></mat-list-item>
        <mat-list-item><span><b>Rotation Period:  </b>{{planet.rotation_period}}</span></mat-list-item>
        <mat-list-item><span><b>Orbital Period:  </b>{{planet.orbital_period}}</span></mat-list-item>
        <mat-list-item><span><b>Diameter:  </b>{{planet.diameter}}</span></mat-list-item>
        <mat-list-item><span><b>Climate:  </b>{{planet.climate}}</span></mat-list-item>
        <mat-list-item><span><b>Gravity:  </b>{{planet.gravity}}</span></mat-list-item>
        <mat-list-item><span><b>Terrain:  </b>{{planet.terrain}}</span></mat-list-item>
        <mat-list-item><span><b>Surface Water:  </b>{{planet.surface_water == 1 ? 'Yes' : 'No'}}</span></mat-list-item>
        <mat-list-item><span><b>Population:  </b>{{planet.population}}</span></mat-list-item>
    </mat-list>
    <h3>Residents</h3>
    <table mat-table [dataSource]="residents" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef> Details </th>
        <td mat-cell *matCellDef="let element"><a routerLink="/person/{{element.id}}"><mat-icon aria-hidden="false" aria-label="open url icon" fontIcon="link"></mat-icon></a> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>