<div *ngIf="loaded;else spinner;">
    <h1>{{person.name}}</h1>
    <mat-list>
        <mat-list-item><span><b>Name: </b>{{person.name}}</span></mat-list-item>
        <mat-list-item><span><b>Mass: </b>{{person.mass}}</span></mat-list-item>
        <mat-list-item><span><b>Hair Color: </b>{{person.hair_color}}</span></mat-list-item>
        <mat-list-item><span><b>Skin Color: </b>{{person.skin_color}}</span></mat-list-item>
        <mat-list-item><span><b>Eye Color: </b>{{person.eye_color}}</span></mat-list-item>
        <mat-list-item><span><b>Birth Year: </b>{{person.birth_year}}</span></mat-list-item>
        <mat-list-item><span><b>Gender: </b>{{person.gender}}</span></mat-list-item>
        <mat-list-item><span><b>Homeworld: </b><a [routerLink]="'/planet-details/' + homeworld?.id">{{homeworld?.name}}</a></span></mat-list-item>
      
    </mat-list>
    <h3>Films</h3>
    <table mat-table [dataSource]="films" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
        <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef> Details </th>
        <td mat-cell *matCellDef="let element"><a routerLink="/person/{{element.id}}"><mat-icon aria-hidden="false" aria-label="open url icon" fontIcon="link"></mat-icon></a> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
</div>
<ng-template #spinner><mat-spinner class="spinner"></mat-spinner></ng-template>