<div *ngIf="loadedComponents >= 4;else spinner;">
    <h1>{{person.name}}</h1>
    <mat-list>
        <mat-list-item><span><b>Name: </b>{{person.name}}</span></mat-list-item>
        <mat-list-item><span><b>Mass: </b>{{person.mass}}</span></mat-list-item>
        <mat-list-item><span><b>Hair Color: </b>{{person.hair_color}}</span></mat-list-item>
        <mat-list-item><span><b>Skin Color: </b>{{person.skin_color}}</span></mat-list-item>
        <mat-list-item><span><b>Eye Color: </b>{{person.eye_color}}</span></mat-list-item>
        <mat-list-item><span><b>Birth Year: </b>{{person.birth_year}}</span></mat-list-item>
        <mat-list-item><span><b>Gender: </b>{{person.gender}}</span></mat-list-item>
        <mat-list-item><span><b>Homeworld: </b><a [routerLink]="'/planet-details/' + homeworld?.id">{{homeworld?.name}}</a></span></mat-list-item>
      
    </mat-list>
    <div *ngIf="species.length">
        <h3>Species</h3>
        <app-data-table [tableData]="species" [columns]="speciesTableColumns"></app-data-table>
    </div>
    <div *ngIf="starships.length">
        <h3>Starships</h3>
        <app-data-table [tableData]="starships" [columns]="starshipsTableColumns"></app-data-table>
    </div>
    <div *ngIf="vehicles.length">
        <h3>Vehicles</h3>
        <app-data-table [tableData]="vehicles" [columns]="vehiclesTableColumns"></app-data-table>
    </div>
    <h3>Films</h3>
    <app-data-table [tableData]="films" [columns]="filmsTableColumns"></app-data-table>
    
</div>
<ng-template #spinner><mat-spinner class="spinner"></mat-spinner></ng-template>