<div class="toolbar-shadow" [class.mat-elevation-z2]="true" [class.mat-elevation-z8]="true">
<mat-toolbar class="toolbar" color="primary">
  <ul>
    <li><button mat-flat-button class="nav-button" color="primary" routerLink="/dashboard">Star Wars</button></li>
    <li><button mat-flat-button class="nav-button" color="primary" routerLink="/planets">Planets</button></li>
    <li><button mat-flat-button class="nav-button" color="primary" routerLink="/people">People</button></li>
  </ul>
</mat-toolbar>
</div>
<router-outlet></router-outlet>