.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

ul {
  list-style-type: none;
  margin-left: -2.6em;
}

li {
  display: inline-block;
  margin-right: 0.1em;
}

.nav-button {
  font-size: 0.8em;
}

.toolbar-shadow {
  top: 0;
  position: sticky;
  z-index: 1000;
}

.toolbar {
  height: 2.3em;
}