<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <a mat-list-item routerLink="/planets">Planets</a>
      <a mat-list-item routerLink="/people">People</a>
      <a mat-list-item routerLink="/films">Films</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="toolbar-shadow" [class.mat-elevation-z2]="true" [class.mat-elevation-z8]="true">

    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <ul>
        <li><button mat-flat-button class="nav-button" color="primary" routerLink="/dashboard">Star Wars</button></li>
        <li><button mat-flat-button class="nav-button" color="primary" routerLink="/planets">Planets</button></li>
        <li><button mat-flat-button class="nav-button" color="primary" routerLink="/people">People</button></li>
        <li><button mat-flat-button class="nav-button" color="primary" routerLink="/films">Films</button></li>
      </ul>
    </mat-toolbar>
  </div>
  <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

